* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.contenedor {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 350px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.card__imagen {
  background-image: url(./images/image-product-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 350px;
  height: 15rem;
  max-width: 100%;
}

.card .descripcion {
  padding: 15px 25px;
}

.descripcion .descripcion__nombre {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  margin-top: 9px;
}

.descripcion .descripcion__titulo {
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 1;
  margin-top: 12px;
  margin-bottom: 14px;
  color: hsl(212, 21%, 14%);
}

.descripcion .descripcion__contexto {
  font-size: 14.4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);
  margin-bottom: 14px;
}

.precio {
  display: flex;
  align-items: center;
  gap: 15px;
}

.precio .precio__bajo {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 28px;
  color: hsl(158, 36%, 37%);
}

.precio .precio__alto {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.descripcion .btn__comprar {
  display: block;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  background-color: hsl(158, 36%, 37%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  margin-top: 14px;
  margin-bottom: 14px;

  transition: background-color 0.8s ease;
}

.descripcion .btn__comprar i {
  margin-right: 5px;
}

.descripcion .btn__comprar:hover {
  background-color: hsl(161, 47%, 21%);
}

@media screen and (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 550px;
    height: auto;
    max-width: 100%;
  }
  .card__imagen {
    display: none;
  }
  .card__imagen-desktop {
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 275px;
  }

  .descripcion .descripcion__titulo {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .descripcion .descripcion__contexto {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 500;
  }

  .precio {
    margin-bottom: 25px;
  }
}
